# Claude setting files
.claude/
CLAUDE.md

# Matt Pocock Skills
docs/agents/

# Build files
build/

# Vscode setting files
.vscode/

# Xmake setting files
.xmake/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
